<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/index.css">
  <%- include('../partials/nav') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <form action="/descriptions/<%= description._id %>?_method=put" method="post">
        <label name="name">
          Name:
          <input type="text" name="name">
        </label>
        <label name="skill">
          What are you good at?
          <textarea name="skill"></textarea>
        </label>
        <label name="location">
          Where are you located?
          <input type="text" name="location">
        </label>
        <label name="detail">
          Tell us more about yourself!
          <textarea name="detail"></textarea>
        </label>
        <button type="submit">Update Changes</button>
      </form>
      </section>
    </main>


    <%- include('../partials/footer') %>