<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/jobs/index.css">
  <%- include('../partials/nav') %>

    <section>
      <h1>
        <%= title %>
      </h1>
      <h3>Post was created by <%= description.name %>
      </h3>
      <p>
        <%= description.name %>
      </p>
      <p>
        <%= description.skill %>
      </p>
      <p>
        <%= description.location %>
      </p>
      <p>
        <%= description.detail %>
      </p>
      </div>

      <a href="/descriptions/<%= description._id %>/edit">Edit</a>
      <form action="/descriptions/<%= description._id %>?_method=delete" method="post">
        <button type="submit">Delete</button>
      </form>

    </section>


    <%- include('../partials/footer') %>