<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>

    <main>
      <h1>hello, <%= user ? user.profile.name : "friend" %>
      </h1>
      <% if (user?.profile.avatar) { %>
        <div>
          <a href="/profiles/<%= user.profile._id %>">
            <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" />
          </a>
        </div>
        <% } %>
    </main>

    <%- include('./partials/footer') %>