<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/index.css">
  <%- include('../partials/nav') %>

    <main>
      <h1>
        <%= title %>
      </h1>
      <form action="/jobs/<%= job._id %>?_method=put" method="post">
        <div>
          <label name="classify">Type of work</label>
          <select name="classify">
            <option value="manual">Manual Work</option>
            <option value="design">Design</option>
            <option value="Innovate">Ideas</option>
          </select>
        </div>
        <div>
          <label name="location">Location:</label>
          <input type="text" name="location" autocomplete="off">
        </div>
        <div>
          <label name="detail">What do you need?</label>
          <textarea type="text" name="detail" autocomplete="off"></textarea>
        </div>
        <button type="submit">Update Job</button>
      </form>
    </main>


    <%- include('../partials/footer') %>