<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/jobs/index.css">
  <%- include('../partials/nav') %>

    <section>
      <h1>
        <%= title %>
      </h1>
      <% jobs.forEach(job=> { %>
        <div class="job">
          <a href="/jobs/<%= job._id %>">
            <p>
              Type of work: <%= job.classify %>
            </p>
            <p>
              Details: <%= job.detail %>
            </p>
            <p>
              Location: <%= job.location %>
            </p>
            <p><small>Posted by: <%=job.name %> on <%= job.createdAt %>
              </small></p>
          </a>
        </div>
        <% }) %>
    </section>


    <%- include('../partials/footer') %>