<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/jobs/index.css">
  <%- include('../partials/nav') %>

    <section>
      <h1>
        <%= title %>
      </h1>
      <% jobs.forEach(job=> { %>
        <div class="list-group">
          <a href="/jobs/<%= job._id %>" type="button" class="list-group-item list-group-item-action">
            <p>
              <strong>Location:</strong>
              <%= job.location %>
            </p>
            <p>
              <strong>Details:</strong>
              <%= job.detail %>
            </p>
            <p><small>Posted by: <%=job.name %> on <%= job.createdAt %>
              </small></p>
          </a>
        </div>
        <% }) %>
    </section>


    <%- include('../partials/footer') %>